@import "styles/global.scss";
@import "styles/variables.scss";

.wrapper {
  flex-grow: 1;
  padding-bottom: $space-xl;
}

.hero {
  margin-bottom: $space-special-xl;
}

.search {
  @extend .container--m;
  margin-bottom: $space-l;
}

.filters {
  @extend .container--m;
  margin-bottom: $space-xxl;
}
