.container {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
}

.content {
  padding-top: 572px;
  background-image: url("public/images/recipes-page/recipe-hero-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
