@import "styles/global.scss";
@import "styles/variables.scss";
@import "styles/mixins.scss";

.section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: $space-xs $space-xl;

  @include for-mobile-down {
    gap: $space-xs $space-xs;
  }

  @include for-mobile-small-down {
    gap: $space-xs 0;
  }
}

.filter {
  width: 100%;
  max-width: 300px;
  @include for-mobile-down {
    max-width: calc(50% - $space-xs);
  }

  @include for-mobile-small-down {
    max-width: 100%;
  }
}

.init {
  flex-shrink: 0;
}
