:root {
  --font-family: "Roboto", sans-serif;

  --black: #000000;
  --black-light: rgba(0, 0, 0, 0.2);
  --black-light-shadow: rgba(0, 0, 0, 0.25);
  --white: #ffffff;
  --white-light: rgba(255, 255, 255, 0.5);
  --rust: #b5460f;
  --rust-light: rgba(181, 70, 15, 0.7);
  --peru-tan: #872d01;
  --alto: #d9d9d9;
  --spun-pearl: #afadb5;

  --button-primary-text: var(--white);
  --button-primary-bg: var(--rust);
  --button-primary-bg-hover: var(--rust-light);
  --button-primary-bg-active: var(--peru-tan);
  --button-primary-bg-disabled: var(--alto);
  --button-secondary-text: var(--black);
  --button-secondary-bg: var(--white);

  --text-primary-color: var(--black);
  --text-primary-disabled-color: var(--black-light);
  --text-secondary-color: var(--spun-pearl);
  --text-accent-color: var(--rust);

  --loader-primary-color: var(--rust);
  --loader-secondary-color: var(--white);

  --img-primary-bg: var(--alto);

  --component-primary-bg: var(--white);
  --component-primary-bg-disabled: var(--white-light);

  --input-primary-placeholder: var(--spun-pearl);
  --input-primary-border: var(--rust);
  --input-primary-border-hover: var(--rust);
  --input-primary-border-active: var(--rust);

  --border-radius-m: 10px;

  --space-xl: 24px;
  --space-l: 20px;
  --space-m: 16px;
  --space-s: 14px;
  --space-xs: 12px;
  --space-xxs: 8px;

  --size-icon-l: 60px;
  --size-icon-m: 48px;
  --size-icon-s: 24px;
}
