@import "./variables";

$breakpoint-xsmall: 345px;
$breakpoint-small: 475px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-extra-large: 1300px;

@mixin for-desktop {
  @media (min-width: $breakpoint-large) {
    @content;
  }
}

@mixin for-large-desktop {
  @media (min-width: $breakpoint-extra-large) {
    @content;
  }
}

@mixin for-large-desktop-down {
  @media (max-width: $breakpoint-extra-large) {
    @content;
  }
}

@mixin for-tablet {
  @media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large - 0.1px) {
    @content;
  }
}

@mixin for-mobile-down {
  @media (max-width: $breakpoint-medium - 0.1px) {
    @content;
  }
}

@mixin for-mobile-small-down {
  @media (max-width: $breakpoint-small) {
    @content;
  }
}

@mixin for-mobile-very-small-down {
  @media (max-width: $breakpoint-xsmall) {
    @content;
  }
}
