$font-family: "Roboto", sans-serif;

$black: #000000;
$black-light: rgba(0, 0, 0, 0.2);
$black-light-shadow: rgba(0, 0, 0, 0.25);
$white: #ffffff;
$white-light: rgba(255, 255, 255, 0.5);
$albescent-white: #f7e8d7;
$rust: #b5460f;
$rust-light: rgba(181, 70, 15, 0.7);
$rust-light-extra: rgba(181, 70, 15, 0.33);
$peru-tan: #872d01;
$alto: #ec8f61;
$spun-pearl: #afadb5;

$app-primary-bg: $albescent-white;

$button-primary-text: $white;
$button-primary-bg: $rust;
$button-primary-bg-hover: $rust-light;
$button-primary-bg-active: $peru-tan;
$button-primary-bg-disabled: $alto;
$button-secondary-text: $black;
$button-secondary-bg: $white;

$text-primary-color: $black;
$text-primary-disabled-color: $black-light;
$text-secondary-color: $spun-pearl;
$text-accent-color: $rust;

$loader-primary-color: $rust;
$loader-secondary-color: $white;

$img-primary-bg: $alto;

$component-primary-bg: $white;
$component-primary-bg-disabled: $white-light;

$input-primary-placeholder: $spun-pearl;
$input-primary-border: $rust;
$input-primary-border-hover: $rust;
$input-primary-border-active: $rust;

$border-radius-m: 10px;

$space-extra-xxl: 80px;
$space-special-xxl: 64px;
$space-xxl: 48px;
$space-special-xl: 36px;
$space-xl: 24px;
$space-l: 20px;
$space-m: 16px;
$space-s: 14px;
$space-xs: 12px;
$space-xxs: 8px;

$size-icon-l: 60px;
$size-icon-m: 48px;
$size-icon-s: 24px;
