@import "styles/global.scss";
@import "styles/variables.scss";

.wrapper {
  background-color: var(--component-primary-bg);
  padding: var(--space-s) 0;
}

.container {
  @extend .container--m;
}

.content {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0 var(--space-l);
  text-decoration: none;
  margin-right: auto;
}

.favorite {
  margin-right: var(--space-l);
}
