@import "styles/global.scss";
@import "styles/variables.scss";
@import "styles/mixins.scss";

.section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0 $space-l;
}

.title {
  width: 100%;
  margin-bottom: $space-xxl;
}

.search {
  width: auto;
  flex-grow: 2;
}

.button {
  @include for-small-mobile-down {
    margin-top: $space-xs;
    margin-left: auto;
  }
}
