@import "styles/global.scss";
@import "styles/variables.scss";

.section {
  width: 100%;
  max-width: 1088px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 var(--space-xxl);
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 448px;
  flex-shrink: 0;
  border-radius: var(--border-radius-m);
  overflow: hidden;
}

.list {
  max-width: 480px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px 100px;
}

.item {
  flex-basis: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: var(--space-xxs);
}

.text {
}
