@import "styles/variables.scss";

.wrapper {
  padding: var(--space-special-xl) 0 var(--space-xxl) 0;
}

.title {
  margin-bottom: var(--space-xxl);
}

.filter-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.filter-item {
  width: 100%;
  max-width: 300px;
}
