@import "styles/variables.scss";

.wrapper {
  padding: $space-special-xl 0 $space-xxl 0;
}

.title {
  margin-bottom: $space-xxl;
}

.filter-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.filter-item {
  width: 100%;
  max-width: 300px;
}
