@import "styles/global.scss";
@import "styles/variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: $space-xxl;
}

.container {
  @extend .container--m;
}
