@import "styles/variables.scss";

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--space-xxs);
}

.title {
  width: 100%;
  margin-bottom: var(--space-xl);
}

.item {
  display: flex;
  flex-basis: 48%;
  gap: 0 var(--space-m);

  & svg {
    flex-shrink: 0;
  }
}
