@import "styles/variables.scss";

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: $space-xxs;
}

.title {
  width: 100%;
  margin-bottom: $space-xl;
}

.item {
  display: flex;
  flex-basis: 48%;
  gap: 0 $space-m;

  & svg {
    flex-shrink: 0;
  }
}
