@import "styles/variables.scss";

.button {
  $this: &;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: $border-radius-m;
  padding: $space-xxs;
  color: $button-primary-text;
  overflow: hidden;

  &--padding-none {
    padding: 0;
  }

  &--padding-l {
    padding: $space-xxs;
  }

  &--primary {
    color: $button-accent-text;
    background-color: transparent;

    @media (hover: hover) {
      &:hover:not(:disabled) {
        background-color: transparent;
      }
    }

    &:active {
      background-color: transparent;
    }
  }

  &--accent {
    color: $button-primary-text;
    background-color: $button-primary-bg;

    @media (hover: hover) {
      &:hover:not(:disabled) {
        background-color: $button-primary-bg-hover;
      }
    }

    &:active {
      background-color: $button-primary-bg-active;
    }
  }

  &--disabled#{$this}--primary {
    cursor: default;
    pointer-events: none;
    background-color: transparent;
  }

  &--disabled#{$this}--accent {
    cursor: default;
    pointer-events: none;
    background-color: $button-primary-bg-disabled;
  }
}
