@import "styles/global.scss";
@import "styles/variables.scss";

.filter-list {
  padding: $space-special-xl 0 $space-xxl 0;
}

.container {
  @extend .container--m;
}

.content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0 $space-xl;
}
