@import "styles/global.scss";
@import "styles/variables.scss";

.wrapper {
  padding: 0;
}

.container {
  @extend .container--m;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-special-xxl) var(--space-extra-xxl);
}
