@import "styles/global.scss";
@import "styles/variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: $space-xl 0;
}

.navigate {
  @extend .container--m;
  margin-bottom: $space-special-xl;
}

.list {
  @extend .container--m;
  margin-bottom: $space-xxl;
}

